@model Project2_TaiTungHung.Models.HoaDon

@{
    ViewData["Title"] = "Xóa hóa đơn";
}

<h1 class="mb-4">Xóa hóa đơn</h1>

<h3>Bạn có chắc chắn muốn xóa hóa đơn này không?</h3>
<div class="card shadow-sm mt-3">
    <div class="card-body">
        <h4 class="card-title">Thông tin hóa đơn</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.MaHd)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MaHd)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NgayLap)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NgayLap)
            </dd>
            <dt class="col-sm-3">
                Khách hàng
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MaKhNavigation.HoTen) (@Html.DisplayFor(model => model.MaKhNavigation.MaKh))
            </dd>
            <dt class="col-sm-3">
                Nhân viên
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MaNvNavigation.HoTen) (@Html.DisplayFor(model => model.MaNvNavigation.MaNv))
            </dd>
        </dl>

        <form asp-action="Delete" class="mt-3">
            <input type="hidden" asp-for="MaHd" />
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-trash"></i> Xóa
            </button>
            <a asp-action="Index" class="btn btn-secondary ms-2">
                <i class="bi bi-arrow-left"></i> Quay lại danh sách
            </a>
        </form>
    </div>
</div>
